{{!-- This is the post loop - each post will be output using this markup --}}
<article class="{{post_class}}" data-id={{comment_id}}>
    <div class="post-inner-content">
        <div class="inner">
            <a href="{{url}}" class="feature-image" title="{{title}}" {{#if feature_image}} data-image="{{img_url feature_image}}" style="background-image: url({{img_url feature_image}});" {{/if}}></a>
            <div class="tags">{{tags limit=1}}</div>
            <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2> 
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
        </div>
        <ul class="share">
            <li><a class="read-later" data-id={{comment_id}} href="#" data-toggle="tooltip" data-placement="top" title="{{t "Save to bookmarks"}}"><i class="far fa-bookmark"></i></a></li>
            <li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" data-toggle="tooltip" data-placement="top" onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;" title="{{t "Share on Facebook"}}"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" data-toggle="tooltip" data-placement="top" onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;" title="{{t "Share on Twitter"}}"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="https://plus.google.com/share?url={{url absolute="true"}}" class="google-plus" data-toggle="tooltip" data-placement="top" title="{{t "Share on Google+"}}"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
            <li><a href="https://www.reddit.com/submit?url={{url absolute="true"}}%2F&title={{encode title}}" data-toggle="tooltip" data-placement="top" class="reddit" title="{{t "Share on Reddit"}}"><i class="fab fa-reddit-alien" aria-hidden="true"></i></a></li>
            <li><a href="mailto:?subject={{encode title}}&amp;body={{url absolute="true"}}" data-toggle="tooltip" data-placement="top" class="email" title="{{t "Share by Email"}}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</article>