{{!-- This is the post loop - each post will be output using this markup --}}
<article class="{{post_class}}" data-id={{comment_id}}>
    <div class="post-inner-content">
        <div class="inner">
            {{#if feature_image}}
                <a href="{{url}}" class="feature-image" title="{{title}}" data-image="{{img_url feature_image}}" style="background-image: url({{img_url feature_image}});"></a>
            {{/if}}
            <div class="tags">{{tags limit=1}}</div>
            <h2 class="post-title"><a href="{{url}}" title="{{title}}">{{title}}</a></h2> 
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
        </div>
    </div>
</article>