<header>
    <div class="midnightHeader default">
        <a href="{{@site.url}}" class="site-logo" title="{{@site.title}}">
            {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}} 
        </a>
        <a href="#" class="menu-trigger" data-no-swup data-toggle="modal" data-target="#menu">
            <span class="counter"></span>
            <img src="{{asset "img/menu.svg"}}">
        </a>
    </div>
    <div class="midnightHeader black">
        <a href="{{@site.url}}" class="site-logo" title="{{@site.title}}">
            {{#if @site.logo}} <img src="{{asset "img/logo-black.svg"}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}} 
        </a>
        <a href="#" class="menu-trigger" data-no-swup data-toggle="modal" data-target="#menu">
            <span class="counter"></span>
            <img src="{{asset "img/menu-black.svg"}}">
        </a>
    </div>
</header>