{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
{{#if feature_image}}
<style type="text/css">
    .responsive-header-img-{{slug}} {
        background-image: url({{img_url feature_image size='l'}});
    }
    @media(max-width: 991px) {
        .responsive-header-img-{{slug}} {
            background-image: url({{img_url feature_image size='m'}});
            background-image: -webkit-image-set(
                url({{img_url feature_image size='m'}}) 1x,
                url({{img_url feature_image size='l'}}) 2x
            );
            background-image: image-set(
                url({{img_url feature_image size='m'}}) 1x,
                url({{img_url feature_image size='l'}}) 2x
            );
        }
    }
</style>
{{/if}}
<main id="content" role="main" data-id="{{comment_id}}">
    <article class="{{post_class}}">
        <div class="post-header responsive-header-img-{{slug}} rellax" data-rellax-speed="4">
            <div class="inner">
                <div class="tags">{{tags limit=1}}</div>
                <h1 class="post-title">{{title}}</h1> 
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
            </div>
            <a href="#post-content" class="view-more"></a>
        </div>
        <div class="post-content" id="post-content" data-midnight="black">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="editor-content">{{content}}</div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

<div class="post-nav" data-midnight="white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="loop">
                    {{#prev_post}}
                        {{> "loop"}}
                        <a href="{{url}}" class="prev-post">Prev post</a>
                    {{/prev_post}}
                    {{#next_post}}
                        {{> "loop"}}
                        <a href="{{url}}" class="next-post">Next post</a>
                    {{/next_post}}
                </div>
            </div>
        </div>
    </div>
</div>

{{/post}}